@media (min-width: 720px){
    .page {
        position: relative;
        padding-top: 5rem;
        padding-bottom: 2rem;
        padding-left: 15rem;
        padding-right: 0 !important;
        display: block;
    }

    .page .page-title {
        max-width: 80% !important;
    }
    .content__default:not(.custom) {
        max-width: 80% !important;
        font-size: 1rem;
    }

    .page .page-edit, .page .comments-wrapper, .page-nav {
        max-width: 80% !important;
    }

    p, ul, ol {
        line-height: 2.0 !important;
    }

    .sub-sidebar-wrapper {
        width: 15rem !important;
    }

    .sub-sidebar-wrapper li {
        padding: 0.15rem 0;
        cursor: pointer;
        border-left:none !important;
        border-right: 1px solid var(--border-color);
    }

    .sub-sidebar-wrapper li.active {
        border-left:none !important;
        border-right: 2px solid #3eaf7c;
    }
    
    .page .side-bar {
        position: fixed;
        top: 6rem !important;
        bottom: 1rem !important;
        right:0 !important;
        left: 1rem !important;
        overflow-y: scroll;
    }

    .page .side-bar:before{
        content: "目录";
        font-size: 150%;
    }

    .page .side-bar>li {
        height: 1.3rem;
    }

    .page .side-bar>li a{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .page .side-bar>li a:hover{
		overflow: visible;
        font-size: 110%;
    }

}
