// place your custom styles here
.vp-blog-hero {
  // 博客主页hero的字体颜色也设置为变量，可以随着主题darkmode变化
  color: var(--text-color);
  height: 15rem;
}

@media (min-width: 1440px) {
  .vp-blog-hero{
    height: 30rem;
  }
}